/*
    You can add your own custom styles here.
*/

.post-tags ul {
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
  }
  
  .post-tags a {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
  }
  
  .post-tags a:hover {
    background-color: #007bff;
    color: white;
  }